.all-spots-home {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

.spots-list {
  list-style: none;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
  padding: 0;
  margin: 0;
}

.each-tile-spot {
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.2);
  transition: box-shadow 0.3s ease;
}
.tile-preview-images-home {
  width: 100%;
  height: 200px;
  object-fit: cover;
  overflow: hidden;
  border-radius: 5px;
  margin-bottom: 10px;
  border: 1px gray solid;
}

.div-city-state-rating {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.price-night {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.city-state-rating-text {
  font-size: medium;
  margin: 0;
}

.night-text {
  padding-left: 5px;
}

.home-price-text {
  font-size: medium;
  font-weight: bold;
}

.create-btn-manage-spots-h1 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

a,
NavLink {
  text-decoration: none;
}

a:visited,
NavLink:visited {
  text-decoration: none;
}

.spots-navlink {
  text-decoration: none;
  color: black;
}

.each-tile-spot:hover {
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}
